<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Collapsible Chat Widget - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('bundles/myapptchat/css/style.css') }}"/>
        <link rel="stylesheet" type="text/css" media="screen"  href="{{ asset('bundles/myapptchat/css/bootstrapmin.css') }}"/>
        
     
                  
 <style type="text/css">
  .entraindecrire{position:relative;padding-left:110px;  }    
  div#cke_myapp_tchatbundle_message_texte,.cke_1 cke cke_reset cke_chrome cke_editor_myapp_tchatbundle_message_texte cke_ltr cke_browser_webkit cke_browser_quirks{width: 270px; }   
  span#cke_9,span#cke_12  {display: none;}   div.cke_contents cke_reset,div#cke_1_contents{ height: 30px;}                    
  </style>         

 <script src="{{ asset('bundles/myapptchat/js/ckeditor/ckeditor.js')}}"></script>  
   <script type="text/javascript">
     $(function () {   CKEDITOR.replace('<%=txtCkEditor.ClientID %>');  CKEDITOR.config.height = 40;  });
</script>       
<script src="{{ asset('bundles/myapptchat/js/jqueryajax.min.js') }}" type="text/javascript"></script>
    </head>
    <body>
        <div class=" ">
            <div class="row">
                <div class="col-md-5"style="left:420px;top:150px;width:400px;position: absolute;">
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="accordion">
                            <span class="glyphicon glyphicon-comment"></span> Chat
                            <div class="btn-group pull-right">
                                <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion"
                                   href="http://bootsnipp.com/iframe/9njj#collapseOne">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                            </div>
                        </div>
                        <div class="panel-collapse collapse in" id="collapseOne">
                            <div class="panel-body">
                                <ul class="chat">

                                    {% for messages in messages %}
                                        {% if messages.user.id == app.user.id %}

                                            <li class="left clearfix"> {# current user#}
                                                <span class="chat-img pull-left">
                                                    <img src="{{ asset('bundles/myapptchat/images/M.png') }}"  alt="User Avatar" class="img-circle">                                                        
                                                </span>

                                                <div class="chat-body clearfix" id="{{ messages.id }}">
                                                    <div class="header">
                                                        <strong class="primary-font">{{ messages.user.username }}</strong>
                                                        <small class="pull-right text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>{{ time_diff(messages.datecreation) }}
                                                        </small>
                                                    </div>
                                                    <p>
                                                        {{ messages.texte|raw }}
                                                    </p>
                                                </div>
                                            </li>

                                        {% else %}
                                            <li class="right clearfix">    {# other user#}
                                                <span class="chat-img pull-right">
                                                    <img src="{{ asset('bundles/myapptchat/images/U.png') }}" alt="User Avatar" class="img-circle">                                                      
                                                </span>
                                                <div class="chat-body clearfix" id="{{ messages.id }}">
                                                    <div class="header">
                                                        <small class=" text-muted"><span
                                                                class="glyphicon glyphicon-time"></span>
                                                            {{ time_diff(messages.datecreation) }}
                                                        </small>
                                                        <strong class="pull-right primary-font">{{ messages.user.username }}</strong>
                                                    </div>
                                                    <p>
                                                        {{ messages.texte|raw }}
                                                    </p>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="panel-footer">
                                {{ form_start(form, { 'attr': { 'id':'form_submit'} } ) }}
                                <div class="input-group">
                                    <!-- <input id="btn-input" type="text" class="form-control input-sm"   placeholder="Type your message here...">-->
                                    <div id="inputid"> {{ form_widget(form.texte) }}   </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-warning btn-sm" id="btn-chat" type="submit">
                                            Send
                                        </button>
                                    </span> {{ form_widget(form._token) }}
                                </div>
                                {{ form_end(form) }}
                                <div class="entraindecrire">
                                  
                                               <div></div> 
                                    
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>



<script type="text/javascript">
   function CKupdate() { 
       for (instance in CKEDITOR.instances) CKEDITOR.instances[instance].updateElement();CKEDITOR.instances[instance].setData('');
   }     
    $(function () {
        $("#form_submit").submit(function (e) {
           CKupdate();
            e.preventDefault(); // Le navigateur ne peut pas envoyer le formulaire
            $.ajax({
                type: 'post',
                url: "{{path('my_app_tchat_homepage') }}",
                data: $(this).serialize(),
                datatype: "json",
                cache: false,
                success: function (data) {
                    $('#form_submit')[0].reset();
                }
            });
               $('#form_submit')[0].reset();
            // return false;
        });
    });
</script>
<script type="text/javascript">
    $("div#inputid").click(function () {
        $.ajax({
            type: 'post',
            url: "{{path('my_app_tchat_makevu') }}",
            data: $(this).serialize(),
            datatype: "json",
            cache: false,
            success: function (data) {
                // $('div.panel-body').html(data);
            }
        });
    });
</script>
<script type="text/javascript">
        $(document).ready(function () {
        var refreshId = setInterval(function () {
            $.ajax({
                type: 'post',
                url: "{{path('my_app_tchat_show') }}",
                data: $(this).serialize(),
                datatype: "json",
                cache: false,
                    success: function (data) {
                        $('div.panel-body').html(data);
                    }
                });

        },1000);      
    });
</script>

<script type="text/javascript">
  /*  $(function () {
         $("#myapp_tchatbundle_message_texte").keyup(function () {
         if ($("#myapp_tchatbundle_message_texte").val().length > 0) {
              //  alert('a');
                $.ajax({
                    type: 'post',
                    url: "{#{path('my_app_tchat_entraindecrire') }#}",
                    data: $(this).serialize(),
                    datatype: "json",
                    cache: false,
                    success: function (data) {
                        $('.entraindecrire').html(data);
                    }
                });
            }
        });
    });*/
</script>


<!-- pour les ajax call FOSJSrouting Bundle -->
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
<!-- pour les ajax call FOSJSrouting Bundle -->